/* Importing the font */
@import url("https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap");

/* Defining the css variables */
:root {
  --width: 200px;
}

/* Loading the defaults */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arbutus Slab", serif;
  user-select: none;
  /* outline: 1px solid lime !important; */
}

.app-container {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.game-buttons {
  display: flex;
  gap: 10px;
}

.player-cards,
.ai-cards {
  display: flex;
  transform: translateY(70px);
  justify-content: center;
  align-items: center;
}

.ai-cards {
  rotate: 0.5turn;
}

h1 {
  padding: 1em 0;
  font-size: clamp(2rem, 10vw, 4rem);
}

.buttons {
  height: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  aspect-ratio: 13.5 / 9;
  border: 1px solid #000;
}

.buttons::before {
  content: "";
  position: absolute;
  width: var(--width);
  aspect-ratio: 9 / 13.5;
  background-image: url("../images/backside.png");
  background-size: contain;
  rotate: 90deg;
}
